Semana 6 Oliver 1100292 Part2/Connected Services/WS/MyWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://oliver.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://oliver.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://oliver.org/">
      <s:element name="RegistroCaso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caso" type="tns:Caso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Caso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TipoCaso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaCaso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UbicasionCaso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalleCaso" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroCasoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroCasoResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="persona" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCaso" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegistroPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistroPersonaResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistroCasoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroCaso" />
  </wsdl:message>
  <wsdl:message name="RegistroCasoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroCasoResponse" />
  </wsdl:message>
  <wsdl:message name="RegistroPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistroPersona" />
  </wsdl:message>
  <wsdl:message name="RegistroPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistroPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWSSoap">
    <wsdl:operation name="RegistroCaso">
      <wsdl:input message="tns:RegistroCasoSoapIn" />
      <wsdl:output message="tns:RegistroCasoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistroPersona">
      <wsdl:input message="tns:RegistroPersonaSoapIn" />
      <wsdl:output message="tns:RegistroPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWSSoap" type="tns:MyWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistroCaso">
      <soap:operation soapAction="http://oliver.org/RegistroCaso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroPersona">
      <soap:operation soapAction="http://oliver.org/RegistroPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWSSoap12" type="tns:MyWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistroCaso">
      <soap12:operation soapAction="http://oliver.org/RegistroCaso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistroPersona">
      <soap12:operation soapAction="http://oliver.org/RegistroPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWS">
    <wsdl:port name="MyWSSoap" binding="tns:MyWSSoap">
      <soap:address location="http://localhost:50289/MyWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWSSoap12" binding="tns:MyWSSoap12">
      <soap12:address location="http://localhost:50289/MyWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>